extends layout 

block content 
  div
    h1.page-header #{category.name} 
    p.padding-bot #{category.description}

    if allItems.length 
      p.padding-bot
        strong Please delete the following items before attempting to delete this category.
      ul.sub-list
        each item in allItems
          li
            a(href=item.url) #{item.name}
    
    else 
      p.padding-bot Are you sure you want to delete this category? 
        strong (This action is irreversible!)
      
      form.delete-form(method="POST")
        input(type="hidden" value=category._id name="categoryId")
        div.label-input
          label(for="password") Password:
          input#password(type="password" required name="password")
        button.delete-link-btn Delete
      
      if errors
        ul.sub-list
          for err in errors
            li!= err.msg