extends layout

block content
  div.detail-wrapper
    h1.page-header=title
    p #{category.description}

    div
      h2.page-header Items
      if allItems.length
        ul.sub-list
          each item in allItems
            li
              a.sub-list-link(href=`/inventory/item/${item.id}`) #{item.name}
      else
        p There are no items in this category
    
    div.link-btn-container
      a.link-btn(href=`/inventory/category/${category.id}/update`) Update Category 
      a.link-btn.delete-link-btn(href=`/inventory/category/${category.id}/delete`) Delete Category