extends layout

block content
  div.detail-wrapper
    h1.page-header #{singleItem.name}
    img.item-image(src=singleItem.image || "/images/notFound.png" alt="")
    p #{singleItem.description}
    p #[span.bold-label Price:] #{singleItem.price} Bells
    if singleItem.instock
      p #[span.bold-label Amount in Stock:] #{singleItem.instock}
    else
      p #[span.bold-label Amount in Stock:] This item is out of stock.
    
    div
      h2.page-header Categories

      ul.sub-list
        each category in singleItem.categories
          li
            a.sub-list-link(href=`/inventory/category/${category.catId}`) #{category.catName}

      div.link-btn-container
        a.link-btn(href=`/inventory/item/${singleItem.id}/update`) Update Item
        a.link-btn.delete-link-btn(href=`/inventory/item/${singleItem.id}/delete`) Delete Item